[user]
	name = Phil Rigovanov
	email = phil@rigovanov.ru
[push]
	default = simple
[core]
	excludesfile = /Users/phil/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	templatedir = /Users/phil/.git-templates
